#!/usr/bin/make -f
%:
	dh $@ --with=python2,python3

override_dh_auto_build:
	dh_auto_build
	python setup.py build
	python3 setup.py build
	-PYTHONPATH=.. make --directory doc/ html

override_dh_auto_clean:
	dh_auto_clean
	rm -f gevent/*.so
	cd doc && make clean
	rm -f doc/changelog.rst

override_dh_install:
	python setup.py install --root=debian/python-gevent --prefix=/usr
	python3 setup.py install --root=debian/python3-gevent --prefix=/usr

	rm -f \
	 	debian/python-gevent/usr/share/pyshared/gevent/_socket3.py \
		debian/python-gevent/usr/share/pyshared/gevent/_ssl3.py \
		debian/python-gevent/usr/lib/python2.7/dist-packages/gevent/_socket3.py \
		debian/python-gevent/usr/lib/python2.7/site-packages/gevent/_socket3.py \
		debian/python-gevent/usr/lib/python2.7/dist-packages/gevent/_ssl3.py \
		debian/python-gevent/usr/lib/python2.7/site-packages/gevent/_ssl3.py \
		debian/python3-gevent/usr/lib/python3*/dist-packages/gevent/_ssl2.py \
		debian/python3-gevent/usr/lib/python3*/dist-packages/gevent/_util_py2.py \
		debian/python3-gevent/usr/lib/python3*/dist-packages/gevent/_socket2.py 


override_dh_compress:
	dh_compress -X.js -X_static/* -X _sources/* -X_sources/*/* -X.inv

override_dh_strip:
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip -ppython-gevent --dbg-package=python-gevent-dbg
	dh_strip -ppython3-gevent --dbg-package=python3-gevent-dbg
endif

override_dh_installdocs:
	dh_installdocs --link-doc=python-gevent

.PHONY: override_dh_auto_build override_dh_auto_clean override_dh_compress override_dh_strip override_dh_installdocs
