#!/usr/bin/make -f

export PYBUILD_NAME=gevent

%:
	dh $@ --with=python2,python3 --buildsystem=pybuild

override_dh_compress:
	dh_compress -X.js -X_static/* -X _sources/* -X_sources/*/* -X.inv

override_dh_auto_install:
	dh_auto_install
	rm debian/python-gevent//usr/lib/python2.7/dist-packages/gevent/_socket3.py

#override_dh_strip:
#ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
#	dh_strip -ppython-gevent --dbg-package=python-gevent-dbg
#	dh_strip -ppython3-gevent --dbg-package=python3-gevent-dbg
#endif
#
override_dh_installdocs:
	$(MAKE) doc
	dh_installdocs --link-doc=python-gevent

